asn1crypto==0.24.0
attrs==21.4.0
cryptography==2.6.1
entrypoints==0.3
importlib-metadata==4.10.1
iniconfig==1.1.1
keyring==17.1.1
keyrings.alt==3.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycrypto==2.6.1
PyGObject==3.30.4
pyparsing==3.0.6
pytest==6.2.5
pyxdg==0.25
SecretStorage==2.3.1
six==1.12.0
toml==0.10.2
typing-extensions==4.0.1
zipp==3.7.0
